.App {
	text-align: center;
	display: grid;
	grid-template-rows: max-content 1fr max-content;
	height: 100vh;
}

.App-header {
	padding: 10px;
}

.App-footer {
	padding: 40px 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stepper-wrapper {
	width: 100%;
	max-width: 800px;
}

.App-main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-paper {
	padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
